{% extends 'basic.html' %}
{% load static %}

{% block content %}
    <!-- start personalArea -->
    <section class="personalArea adminArea">
        <div class="personalArea-bg" style="background-image: url({% static 'img/personalArea-bg.svg' %});"></div>
        <div class="wrapper">
            {% include 'user/sidebar.html' %}
            <div class="personalArea-content">
                <div class="section-top">
                    <h2 class="section-title">Сообщение ID : {{ messageInfo.id }}</h2>
                </div>
                <div class="score">
                    <form action="" method="post">{% csrf_token %}
                        <h3 class="personalArea-title">От:<span>{{ messageInfo.first_name }} {{ messageInfo.last_name }}</span></h3>
                        <h3 class="personalArea-title">Дата:<span>{{ messageInfo.created_at |date:'d.m.Y, H:i'}}</span></h3>
                        <h3 class="personalArea-title">Email:<span>{{ messageInfo.email }}</span></h3>
                        <h3 class="personalArea-title">Телефон: <span>{{ messageInfo.phone }}</span></h3>
                        <h3 class="personalArea-title">Тема: <span>{{ messageInfo.subject }}</span></h3>
                        <h3 class="personalArea-title">Текст:</h3>
                        <p>{{ messageInfo.text }}</p>



                    </form>

                </div>
            </div>
        </div>
    </section>
    <!-- end personalArea -->
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}