{% extends 'basic.html' %}
{% load static %}

{% block content %}
<!-- start personalArea -->
	<section class="personalArea">
		<div class="personalArea-bg" style="background-image: url({% static 'img/personalArea-bg.svg' %});"></div>
		<div class="wrapper">
		{% include 'user/sidebar.html' %}
				<div class="personalArea-content">
				<div class="section-top">
					<h2 class="section-title">Сообщения</h2>
					<span>Сообщения</span>
				</div>
					<div class="operations-table">
						<div class="operations-row operations-top">
							<div class="operations-col operations-col__1 time-col">
								<span>Время</span>
							</div>
							<div class="operations-col operations-col__2">
								<span>Тема</span>
							</div>
							<div class="operations-col operations-col__3">
								<span>Промотрено?</span>
							</div>
							<div class="operations-col operations-col__4">
								<span></span>
							</div>
							<div class="operations-col operations-col__5">
								<span></span>
							</div>
						</div>
						   {% for msg in allMessages %}
				    		<div class="operations-row ">
							<div class="operations-col operations-col__1 time-col">
								<span>{{ msg.created_at |date:'d.m.Y, H:i'}}</span>
							</div>
							<div class="operations-col operations-col__2">
							   <span>{{ msg.subject }} </span>
							</div>
							<div class="operations-col operations-col__3">
								{% if msg.is_open %}
								    <img src="{% static 'img/check.svg' %}" alt="">
                                {% else %}
                                 	<img src="{% static 'img/close.svg' %}" alt="">
                                {% endif %}
							</div>
							<div class="operations-col operations-col__4">
								<span><a href="{% url 'cp_message' msg.id%}">Открыть</a></span>
							</div>
							<div class="operations-col operations-col__5">
                               <span><a href="{% url 'del_message' msg.id%}">Удалить</a></span>
							</div>
						</div>
					    {% endfor %}
					</div>
			</div>
		</div>
	</section>
	<!-- end personalArea -->
{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}