{% extends 'basic.html' %}
{% load static %}

{% block content %}
    <section class="personalArea adminArea">
        <div class="personalArea-bg" style="background-image: url({% static 'img/personalArea-bg.svg' %});"></div>
        <div class="wrapper">
            {% include 'user/sidebar.html' %}
            <div class="personalArea-content">
                <div class="section-top">
                    <h2 class="section-title">Пост ID : {{ post.id }} | {{ post.name }}</h2>
                </div>
                <div class="score">
                    <form action="" method="post">{% csrf_token %}

                    <h3 class="personalArea-title">Опубликован:
                    <select class="admin-select" name="is_active" id="i-4">

                                    <option {% if post.is_active %} selected{% endif %} value="1">Да</option>
                                    <option {% if not post.is_active %} selected{% endif %} value="0">Нет</option>

                            </select>
                    </h3>
                    <h3 class="personalArea-title">Название: <input class="admin-input" name="name"  type="text" value="{{ post.name }}"></h3>
                     <h3 class="personalArea-title">Краткое описание: <textarea style="height: 200px;width: 400px" class="admin-input" required  name="short"  >{{ post.short_description }}</textarea></h3>
                        <h3 class="personalArea-title">Категория:
                            <select class="admin-select" name="category" id="i-4">
                                {% for cat in allCats %}
                                    <option {% if post.category == cat %} selected{% endif %} value="{{ cat.id }}">{{ cat.name }}</option>
                                {% endfor %}
                            </select>
                        </h3>



                        <textarea name="text" id="editor1" rows="10" cols="80">
                             {{ post.text }}
                        </textarea>
                        <input type="hidden" name="p_id" value="{{ post.id }}">
                        <div class="profile-col profile-btn">
                                <button type="submit" class="main-btn">Сохранить</button>
                            </div>

                    </form>

                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="//cdn.ckeditor.com/4.14.1/full/ckeditor.js"></script>
    <script>

        CKEDITOR.replace( 'text' );
    </script>
{% endblock %}