{% extends 'basic.html' %}
{% load static %}

{% block content %}
<!-- start about -->
<!-- start testimonials -->
	<section class="testimonials testimonials-second">
		<div class="wrapper">
			<div class="testimonials-info" data-aos="fade-up" data-aos-duration="500" data-aos-once="true">
				<div class="section-top">
					<h2 class="section-title">Отзывы</h2>
					<span>Отзывы</span>
				</div>
				<p>На UGS игроки всегда в плюсе, даже когда они проигрывают. Наш простой и прозрачный сервис еще никого не оставлял недовольным.</p>
				<p>Ниже представлены отзывы от самых ярых игроков, которые всегда играют на крупные суммы. </p>
			</div>
		</div>
		<div class="testimonials-slider owl-carousel">
            {% for feedback in allFeedbacks %}
			    <div class="testimonials-slide">
				<div class="testimonials-wrap">
					<p>{{ feedback.text }}</p>
					<div class="testimonials-row">
                        {% if feedback.avatar %}
						<div class="testimonials-img">
							<img src="{{ feedback.avatar.url }}" alt="">
						</div>
                        {% endif %}
						<div class="testimonials-descr">
							<span class="testimonials-name">{{ feedback.name }}</span>
							<span class="testimonials-prof">{{ feedback.profession }}</span>
						</div>
					</div>
				</div>
			</div>
            {% endfor %}
		</div>
		<div class="testimonials-range">
			<div id="range" class="range-bar"></div>
			<input type="text" class="range-input">
		</div>
	</section>
	<!-- end testimonials -->

{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}