{% extends 'basic.html' %}
{% load static %}

{% block content %}

    <section class="about">
		<div class="about-bg">
			<img src="{% static 'img/about-bg.svg' %}" alt="">
		</div>
		<div class="wrapper">
			<div class="">

                <p>1.1<br />
Пополнить и снять денежные средства со счета можно всеми доступными платежными системами, которые есть на сайте оплаты.<br />
<br />
1.2<br />
Все заявки на снятие средств обрабатываются ежедневно с 10:00 до 00:00.<br />
<br />
1.3<br />
Вывод средств возможен только по тем реквизитам, по которым осуществлялось пополнение. При пополнении счета различными способами, вывод средств должен быть пропорционален сумме пополнения.<br />
<br />
1.4<br />
Сотрудники компании могут проверить соответствие ФИО, даты рождения клиента, а также другие данные. В случае, если будут обнаружены различия между фактическими данными и данными, представленными клиентом, UGS оставляет за собой право сделать возврат по всем ставкам клиента и отказать в выплате выигрышей клиента до тех пор, пока последний не докажет идентичность и правильность введенных данных.<br />
<br />
1.5<br />
При первом заказе на снятие денег в наличной форме клиент обязан ввести верные паспортные данные в точности как указано в паспорте на языке страны, выдавшей паспорт.<br />
<br />
1.6<br />
Служба безопасности сервиса имеет право:<br />
&bull; отказать в выводе средств через пункт приема ставок, если счет был пополнен только электронными способами;<br />
&bull; отказать в выводе средств любым из доступных способов, если суммы пополнения или вывода средств с игрового счета не соответствуют суммам размещенных ставок (на сумму внесенных средств обязательно должны быть сделаны ставки, с коэффициентом не менее 1,8; не учитываются множественные ставки, совершенные в играх с минимальными потерями баланса, т.е. это подразумевает ставки на противоположные события. Критерием для вывода средств будет служить сумма сделанных ставок в рамках этого пополнения.<br />
<br />
1.7<br />
Если депозиты на счет были сделаны с какой-либо иной целью, кроме ставок, компания (в частности, в случае подозрений на мошеннический оборот денег) оставляет за собой право отменить какой-либо депозит и взыскать с клиентa все затраты, понесенные в результате процессинга его депозита.<br />
<br />
1.8<br />
Зарегистрированный клиент не может пройти повторную регистрацию как новый клиент (под новым именем, с новым адресом электронной почты и т.д.). В случае подтверждения факта повторной регистрации (в том числе под новым именем), предоставления чужих, недействительных, поддельных документов (в том числе, измененных при помощи различных программ и графических редакторов), администрация оставляет за собой право признать недействительными ставки, сделанные с такого счета. В случае отказа от процедуры верификации администрация имеет право признать ставки недействительными. Так же администрация оставляет за собой право заблокировать такой счет (повторно зарегистрированный) на время разбирательства (до 2-х месяцев).<br />
<br />
1.9<br />
Претензии по результату события принимаются в течение 30 календарных дней с момента завершения события при наличии официальных документов по результату события организации, проводящей соревнование.<br />
<br />
2<br />
Ставки, сделанные после фактического начала события (за исключением live-ставок), рассчитываются по решению букмекерской конторы с коэффициентом &laquo;1&raquo;.<br />
<br />
2.1<br />
Ставки ЛИНИЯ. Если матч или соревнование по какой-либо причине откладывается или переносится более чем на 48 часов от официального запланированного времени начала, то все ставки аннулируются.<br />
<br />
3.1.<br />
Сервис UGS производит расчёт пари своевременно в соответствии с настоящими Правилами. При этом сервис оставляет за собой право приостанавливать выплаты до 24 часов в случаях, когда расчёт пари невозможен по причине отсутствия результата или расхождения информации о результате в различных источниках, а также в случаях, когда на сервере или в базе данных произошли технические или программные сбои.<br />
В случае отсутствия результата через 24 часа после окончания события все пари на такое событие отменяются.<br />
<br />
3.2.<br />
Сроки выплаты выигрышей зависят от суммы выигрыша: &ndash; до 15.000.000 рублей &ndash; не позднее 90 рабочих дней; &ndash; от 15.000.000 рублей и выше &ndash; не позднее 1 (одного) года. Сроки выплаты выигрышей денежными средствами исчисляются с момента обращения Клиента за получением выигрыша.</p>

<p>Vlad</p>

<p>3.3<br />
Администрация сервиса вправе по своему усмотрению определять лимиты выплаты (минимальный и максимальный) на каждое отдельное обращение Клиента о выплате выигрыша каждому конкретному Клиенту без предварительного уведомления об этом Клиента и объяснения причин установления лимитов.<br />
<br />
3.4<br />
Выплата выигрышей Клиентам, от которых приняты интерактивные ставки:<br />
<br />
3.4.1<br />
Осуществляется путём увеличения остатка электронных денежных средств Клиентов.<br />
<br />
3.4.2.<br />
Осуществляется по требованию Клиента, по общему правилу, в течение 3-х рабочих дней со дня получения сервисом запроса на выплату выигрыша. В тексте запроса следует заполнить все необходимые поля, указать фамилию, имя, отчество, наименование и реквизиты счёта получателя, а также сумму выигрыша к зачислению. Администрация оставляет за собой право запросить у Клиента документы для подтверждения регистрационных данных Клиента и приостановить выплату выигрыша до подтверждения регистрационных данных.<br />
<br />
3.4.3.<br />
Комиссия за выплату выигрыша взимается в случае превышения количества запросов на получение выигрышей, установленного в пункте Правил, а также в иных случаях по усмотрению Администрации. Значение лимитов и размер комиссии указан в описании платёжных способов.<br />
<br />
3.5<br />
В случае, если происходят какие-либо разногласия с партнерами, предоставляющих возможность принятия ставок - UGS, по истечению 7 рабочих дней вправе сделать клиенту возврат денежных средств внесённых последним депозитом в полном размере с коэффициентом &laquo;1&raquo;.<br />
<br />
3.5.1<br />
Если возникают проблемы с партнерами, UGS не несёт ответственность за выигрыш, и действует по правилам 3.5.<br />
<br />
3.6<br />
Администрация оставляет за собой право аннулировать &laquo;Live&raquo;-ставку, если у Администрации возникают подозрения, что Клиент на момент ставки обладал информацией об исходе события, указанного в ставке. При этом Администрация не обязана доказывать причину возникновения таких подозрений.<br />
<br />
3.7<br />
Сервис имеет право ограничивать максимальную ставку на отдельные события, а также ограничивать или повышать максимальную ставку конкретному Клиенту без уведомления и объяснения причин. Сервис имеет право ограничить или отказать конкретным Клиентам в доступе к предоставляемым сервисам без объяснения причин.<br />
<br />
3.8<br />
Сделанные и зарегистрированные в системе ставки отмене или исправлениям Клиентом не подлежат.<br />
<br />
3.9<br />
Приём повторных ставок на один и тот же исход, либо на фактически одинаковую комбинацию исходов от одного клиента может быть ограничен по решению UGS. При принятии такого решения, сервис имеет право объявить возврат повторных ставок (кроме первой) в том случае если компьютерная система не блокировала прием повторных ставок от одного клиента.<br />
<br />
4.1<br />
Ставка считается принятой, как только она подтверждена компанией. Все принятые ставки присылаются в обратном сообщение с подписью &laquo;Ваша ставка приятна&raquo;. В некоторых случаях возможна задержка. В случае возможных споров верным считается время, когда ставка была зарегистрирована в системе компании. Если клиент не получил сообщения о принятии ставки, ставка считается не принятой. Обратите внимание, что уведомление об изменении коэффициентов может не появиться, что позволяет значительно сократить время принятия ставки. Претензии по изменению коэффициента в большую или меньшую сторону не будут приниматься. Организатор азартной игры не несет ответственности за возможные убытки, причиненные вследствие изменения коэффициента.<br />
<br />
4.2<br />
Ставка считается выигранной клиентом, если правильно предсказаны все исходы, указанные в такой ставке.<br />
<br />
4.3<br />
В случае, если по каким-либо причинам участник пари пытается провести ставку после фактического начала события, то такая информация не может быть зарегистрирована и ставка не может быть осуществлена, а если по какой-либо причине такая ставка совершена, то ставка подлежит отмене.<br />
<br />
4.4<br />
В случае, если информация о ставке и/или ставка признаны недействительными, происходит возврат суммы этой ставки, а если она включена в экспресс или систему, то она исключается из него (неё).</p>
<p>4.5<br />
Ставка подлежит отмене, если клиент заведомо вводил в заблуждение персонал (сотрудников сервиса UGS), представляя им ложные сведения и требования в отношении приёма ставок, выплаты выигрыша, результата события и иные сведения и требования подобного характера. Вышеуказанные случаи действуют и в отношении несовершеннолетних лиц: не достигших 18-ти лет и их родителей.<br />
<br />
4.6<br />
Ставки ЛИНИЯ и LIVE не редактируются и не удаляются.<br />
<br />
4.7<br />
Ставка подлежит отмене, если ставка сделана на известный исход (произошло событие, но результат не обновился в системе).<br />
<br />
4.8<br />
Ставки на региональные чемпионаты рассчитываются в течение 10 дней (после публикации результатов на официальных сайтах этих чемпионатов). В случае неявки одной из команд на матч все ставки будут рассчитаны с коэффициентом &laquo;1&raquo; (возврат). Команде, не принявшей участие в матче, присуждается техническое поражение.<br />
<br />
4.9<br />
Минимальная сумма ставки 10.000₽, минимальный коэффициент 2.<br />
<br />
5.<br />
За неадекватное отношение, оскорбление сотрудников сервиса, UGS оставляет за собой право после 3 (трех) предупреждений заблокировать пользователя, либо сразу безвозвратно блокировать аккаунт клиента.</p>

				</div>
		</div>
	</section>




{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}