.rub-sign{
    position: absolute;
    top: 50%;
    right: 21px;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    max-width: 13px;
}
.dolbanyi-input{
    padding-right: 40px !important;
    padding-left: 10px !important;
}
.score .main-btn {
    padding: 22px 28px;
}
  .statistics-hidden{
            display: none;
        }
        #team_input:disabled{
            opacity: .8;
            cursor: not-allowed;
        }

        .no_winner_label{

            height: 60px !important;
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
        }

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
        .color-red{
            color: red;
            font-size: 13px;
        }
        .not-visible{
            display: none;
        }
        .form-error{
            margin-bottom: 20px;
        }
        .faq-second{
            opacity: 0 !important;
            min-height: 0;
            height: 0;
        }
        .bet-image{
            font-size: 16px;
            line-height: 1.4;
            color: #1b1b1b;
            text-decoration: underline;
        }
        .btn-disabled{
            opacity: .8;
            pointer-events: none;
        }
        .admin-row:hover{
            cursor: pointer;
            background: #c4c4c4;
        }
        .time-col{
            width: 235px;
            min-width: 235px;
        }
        .admin-input{
            display: inline-block;
            width: 200px;
            text-align: center;
            height: 40px;
            border: none;
            background-color: #f8f8f8;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            padding: 0 23px;
            font-size: 16px;
            font-weight: 600;
            color: #1b1b1b;
        }
        .admin-select{
            display: inline-block;
            width: 200px;
            height: 40px;
            border: none;
            background-color: #f8f8f8;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            padding: 0 23px;
            font-size: 16px;
            font-weight: 600;
            color: #1b1b1b;
        }
        .header{z-index: 90 !important;}
        .not-visible{
            display: none !important;
        }
