<!-- SKIB.ORG WAS HERE -->
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>{{ pageTitle }}</title>
    <meta name="description" content="{{ pageDescription }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="{% static 'img/logo.svg' %}" type="image/x-icon">
    <!--<meta property="og:image" content="path/to/image.jpg">
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">-->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/notifi.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    {% if rel_link %}
        <link rel="canonical" href="{{ rel_link }}">
    {% endif %}
    <meta name="theme-color" content="#000">
    <meta name="msapplication-navbutton-color" content="#000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">
    <meta name="interkassa-verification" content="bdd1793293b4141de486f37db46dad7d" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175075882-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-175075882-1');
    </script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(66336922, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/66336922" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <meta name="google-site-verification" content="88Wt95bIjImd3Z00W9aEi5yr4nFLFQTq-FV_hdnVy3I" />
    <meta name="yandex-verification" content="fd3b2afc1d8058f2" />
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5Z3GCTF');</script>
    <!-- End Google Tag Manager -->

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5Z3GCTF"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% if indexPage %}
         <script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "FAQPage",
              "mainEntity": [
               {% for q in allFaq %}
                  {
                    "@type": "Question",
                    "name": "{{ q.title }}",
                    "acceptedAnswer": {
                      "@type": "Answer",
                      "text": "{{ q.text }}"
                    }
                  } {% if not forloop.last %},{% endif %}
              {% endfor %}
               ]
            }
    </script>
    {% endif %}

</head>
<body>
{% if request.user.is_authenticated %}
    {% include 'header_profile.html' %}
{% else %}
    {% include 'header.html' %}
{% endif %}

{% block content %}
{% endblock %}
{% if not profilePage %}
    {% include 'footer.html' %}
{% endif %}
{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/scripts.min.js' %}"></script>
    {#    <script src="{% static 'js/scripts.js' %}"></script>#}
    <script src="{% static 'js/notifi.min.js' %}"></script>


    <script>

        {% if messages %}
            {% for message in messages %}
                var content ='{{ message }}';
                $.notifi(content);
            {% endfor %}
        {% endif %}
        let u_b = {{ request.user.balance }}

            function clearNotify () {
                $.ajax({
                    type: "POST",
                    url: "{% url 'view_notify' %}",
                    data: {},
                    headers:{"X-CSRFToken": '{{ csrf_token }}'},
                    success: function (newEnd) {

                        $('#msgCount').addClass('not-visible')
                    },
                    error: function () {

                    }
                });
            }
        function checkB(el) {
            if (el.value > 0 && u_b>=el.value){
                $('#bet_btn').removeClass('btn-disabled')
                $('#bet_btn').html('Добавить')
            }else {
                $('#bet_btn').addClass('btn-disabled')
                $('#bet_btn').html('Не достаточно средств')

            }

        }
        function checkW(el){
            if (el.checked){
                document.getElementById('team_input').setAttribute('disabled','disabled')
            }else{
                document.getElementById('team_input').removeAttribute('disabled')
            }
        }


        $("#img_input").change(function() {
            $('#img_name').html((this.value.split("\\").pop()))
            document.getElementById('img_arrow').classList.add('not-visible')
            document.getElementById('img_close').classList.remove('not-visible')

        });

        function fileReset() {
            $('#img_name').html('')
            document.getElementById('img_arrow').classList.remove('not-visible')
            document.getElementById('img_close').classList.add('not-visible')
            document.getElementById('img_input').value=''
        }



        let result_table = document.getElementById('result_table'),
            bets = []

        $('#bet_form').submit(function(e){
            e.preventDefault();
            $form = $(this)
            var formData = new FormData(this);
            $.ajax({
                url: '{% url "new_bet" %}',
                type: 'POST',
                data: formData,
                success: function (response) {

                    console.log(response)
                    result_table.innerHTML = result_table.innerHTML + `<div class="modal-table__row">
						<div class="modal-table__col modal-table__col-1">${response.img}</div>
						<div class="modal-table__col modal-table__col-2">${response.team}</div>
						<div class="modal-table__col modal-table__col-3">
							${response.amount}
							<svg width="13" height="18" viewBox="0 0 13 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.8" d="M0 7H1V0H8.5C11 0 13 2 13 4.5C13 7 11 9 8.5 9H3V11H9V13H3V18H1V13H0V11H1V9H0V7ZM8.5 2H3V7H8.5C9.16304 7 9.79893 6.73661 10.2678 6.26777C10.7366 5.79893 11 5.16304 11 4.5C11 3.83696 10.7366 3.20107 10.2678 2.73223C9.79893 2.26339 9.16304 2 8.5 2V2Z" fill="#6B6B6B"/></svg>
						</div>
					</div>`
                    u_b -= response.amount
                    bets.push(response.id)
                    console.log(bets)
                    document.getElementById('bet_form').reset()
                    document.getElementById('img_name').innerHTML = ''
                    document.getElementById('img_arrow').classList.remove('not-visible')
                    document.getElementById('img_close').classList.add('not-visible')
                    document.getElementById('bets').value=bets

                },
                cache: false,
                contentType: false,
                processData: false
            });
        });

        let email_login = document.getElementById('email_login'),
            password_login = document.getElementById('password_login'),
            login_form_error = document.getElementById('login_form_error'),
            first_name_reg = document.getElementById('first_name_reg'),
            last_name_reg = document.getElementById('last_name_reg'),
            phone_reg = document.getElementById('phone_reg'),
            email_reg = document.getElementById('email_reg'),
            password1_reg = document.getElementById('password1_reg'),
            password2_reg = document.getElementById('password2_reg'),
            reg_form_error = document.getElementById('reg_form_error'),
            error_text = document.getElementById('error_text')

        function login(e){
            e.preventDefault()
            login_form_error.classList.add('not-visible')
            let body = {
                'email':email_login.value,
                'password':password_login.value
            }
            fetch('{% url 'login_req' %}', {
                method: 'post',
                body: JSON.stringify(body),
                headers: { "X-CSRFToken": '{{ csrf_token }}' },
                credentials: 'same-origin'
            }).then(res=>res.json())
                .then(res => {
                    console.log(res)
                    if(res['status']==='success'){
                        location.reload();
                    }
                    else{
                        login_form_error.classList.remove('not-visible')
                    }
                })
        }
        function reg(e){
            e.preventDefault()
            ym(66336922,'reachGoal','registr')
            reg_form_error.classList.add('not-visible')
            //if (password1_reg.value !== password2_reg.value ){
            //    error_text.innerText = 'Пароли не совпадают'
            //    reg_form_error.classList.remove('not-visible')
            //    return
            //}
            let body = {
                'email':email_reg.value,
                'first_name':first_name_reg.value,
                'last_name':last_name_reg.value,
                //'phone':phone_reg.value,
                'password1':password1_reg.value,
                'password2':password2_reg.value
            }
            fetch('{% url 'register' %}', {
                method: 'post',
                body: JSON.stringify(body),
                headers: { "X-CSRFToken": '{{ csrf_token }}' },
                credentials: 'same-origin'
            }).then(res=>res.json())
                .then(res => {
                    console.log(res)
                    if(res['status']==='error'){
                        error_text.innerText = ''
                        reg_form_error.classList.remove('not-visible')
                        if(res['errors']['email']){
                            error_text.innerText = error_text.innerText + res['errors']['email']
                        }
                        if(res['errors']['password2']){
                            error_text.innerText = error_text.innerText + res['errors']['password2']
                        }

                    }
                    else{
                        location.reload();

                    }
                })
        }


    </script>

    <script>

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    $('#user_avatar').attr('src', e.target.result);
                    $('#user_header_avatar').attr('src', e.target.result);
                    $('#avatar_change').submit()

                }

                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }

        $("#user_avatar_input").change(function() {
            readURL(this);
        });

        let faq = document.getElementById('faq_second')
        let faq_btn = document.getElementById('faq_btn')

        function openFaq(e){
            e.preventDefault()
            faq.classList.remove('faq-second')
            faq_btn.style.display='none'
        }


    </script>
    <script>
        function pay_request(e,form,pay_type,card_id) {
            e.preventDefault()
            ym(66336922,'reachGoal','depozit');
            console.log('pay',pay_type,card_id,$('#amount_1').val())
            let body = {
                'amount':$('#amount_1').val(),
                'pay_type':pay_type,
                'card_id':card_id

            }
            fetch('{% url 'new_payment' %}', {
                method: 'post',
                body: JSON.stringify(body),
                headers: { "X-CSRFToken": '{{ csrf_token }}' },
                credentials: 'same-origin'
            }).then(res=>res.json())
                .then(res => {
                    console.log(res)
                    if(res['status']==='ok'){
                        if(res['pay_type'] === 'yandex'){
                            console.log('ya-pay')
                            $('#label_1').val(res['p_id'])
                            $('#ya_sum').val($('#amount_1').val())
                            document.getElementById(form).submit()
                        }
                         if(res['pay_type'] === 'ik'){
                            console.log('ik-pay')
                            $('#ik_sum').val($('#amount_1').val())
                            $('#ik_x_label').val(res['p_id'])
                            $('#ik_pm_no').val(`${res['p_id']}`)
                            document.getElementById(form).submit()
                        }
                        if(res['pay_type'] === 'webmoney'){
                            console.log('ya-pay')
                            $('#wm_id').val(res['p_id'])
                            $('#wm_sum').val($('#amount_1').val())
                            document.getElementById(form).submit()
                        }
                        if(res['pay_type'] === 'qiwi'){
                            console.log('ya-"qiwi"')
                            window.location.href=res['pay_url']

                        }

                    }

                })

        }
    </script>

{% endblock %}


</body>
</html>