{% load static %}
{% load mytags %}
<div class="lkCard">
    <div class="score">
        <div class="score-wrap">
            <form id="pay_form_webmoney" method="POST" action="https://merchant.webmoney.ru/lmi/payment_utf.asp" accept-charset="utf-8">
                <input type="hidden" id="wm_sum" name="LMI_PAYMENT_AMOUNT" value="0">
                <input type="hidden" name="LMI_PAYMENT_DESC" value="Пополнение баланса пользователя {{ request.user.first_name }} {{ request.user.last_name }}">
                <input type="hidden" id="wm_id" name="LMI_PAYMENT_NO" value="0">
                <input type="hidden" name="LMI_PAYEE_PURSE" value="{{ wm_wallet }}">
                <input type="hidden" name="LMI_SIM_MODE" value="0">


            </form>


            <form id="pay_form_1" action="https://money.yandex.ru/quickpay/confirm.xml" method="post">
                <input type="hidden" id="ya_sum"  name="sum" value="0"  data-type="number" type="number" >
                <input type="hidden" name="receiver" value="{{ ya_wallet }}">
                <input type="hidden" name="quickpay-form" value="shop">
                <input type="hidden" name="targets"
                       value="Пополнение баланса пользователя {{ request.user.first_name }} {{ request.user.last_name }}">
                <input type="hidden" name="paymentType" value="AC">
                <input id="label_1" type="hidden" name="label" value="">
                <input type="hidden" name="successURL" value="{{ success_url }}">
            </form>

            <div class="private-block private-block__small private-block__small-2">

                <p>Сумма пополнения</p>
                <div class="private-form private-form__2">
                    <div class="input-block">
                        <div class="input-block__wrap">
                            <input id="amount_1"  name="sum" value="0"  data-type="number" type="number" >
                            <div class="input-ico">
                                <svg width="13" height="18" viewBox="0 0 13 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.8" d="M0 7H1V0H8.5C11 0 13 2 13 4.5C13 7 11 9 8.5 9H3V11H9V13H3V18H1V13H0V11H1V9H0V7ZM8.5 2H3V7H8.5C9.16304 7 9.79893 6.73661 10.2678 6.26777C10.7366 5.79893 11 5.16304 11 4.5C11 3.83696 10.7366 3.20107 10.2678 2.73223C9.79893 2.26339 9.16304 2 8.5 2Z" fill="#6B6B6B"></path></svg>
                            </div>
                        </div>
                    </div>
{#                    <button  onclick="pay_request(event,'pay_form_1','yandex',0)" class="main-btn withdraw-btn">Пополнить</button>#}
                </div>


            <div class="lkCard-private lkCard-private__down">
                {% for card in  cards %}
                    {% if card.card_number %}
                        <div class="private-top">
                            <div class="private-wrap">
                                <span class="private-title">Ваша привязанная карта</span>
                                <span class="private-num">{{ card.card_number | format_card }}</span>
                                <span class="private-date">{{ card.card_valid }}</span>
                                {#                                                <span class="private-name">#}
                                {#												VLADIMIR FYODOROVICH#}
                                {#												<img src="img/visa-2-1.svg" alt="">#}
                                {#											</span>#}
                            </div>
                            <div class="private-btns">
                                <button onclick="pay_request(event,'pay_form_1','yandex',0)" class="main-btn withdraw-btn">Пополнить</button>

                                <form id="removeCard_form" action="{% url 'profile_balance' %}" method="post">{% csrf_token %}
                                    <input type="hidden" name="remove_card" value="{{ card.id }}">
                                    <a onclick="document.getElementById('removeCard_form').submit()"  class="second-btn">Отвязать карту</a>
                                </form>

                            </div>
                        </div>
                    {% endif %}
                {% endfor %}


            </div>
        <div class="private-block private-block__2">
									<p>Другая карта</p>
									<form action="">
										<div class="input-block input-block__down">
											<div class="input-block__wrap">
												<input class="input-card" type="text" name="text" placeholder="0000 0000 0000 0000">
												<div class="input-ico">
													<img src="{% static 'img/visa.svg' %}" alt="">
												</div>
											</div>
										</div>
										<div class="input-block">
											<div class="input-block__wrap">
												<input type="text" name="text" placeholder="ИМЯ ФАМИЛИЯ">
											</div>
										</div>
										<div class="score-wrap__all score-wrap__all-2">
											<div class="score-wrap__row">
												<div class="score-wrap__col score-wrap__col-1">
													<div class="input-block">
														<div class="input-block__wrap">
															<span class="score-wrap__text">VALID THRU</span>
															<input type="text" name="text" placeholder="00/00" class="input-valid">
														</div>
													</div>
												</div>
{#												<div class="score-wrap__col score-wrap__col-2">#}
{#													<div class="input-block">#}
{#														<div class="input-block__wrap">#}
{#															<input type="text" name="text" placeholder="CVC" class="input-CVC">#}
{#														</div>#}
{#													</div>#}
{#												</div>#}
												<div class="score-wrap__col score-wrap__col-3">
													<button onclick="pay_request(event,'pay_form_1','yandex',0)" class="main-btn withdraw-btn">Пополнить</button>
												</div>
											</div>
										</div>
									</form>
								</div>
            {% for card in cards %}

                <div style="margin-bottom: 15px" class="private-form">
                    <div class="input-block">
                        <div class="input-block__wrap">
                            {% if card.card_number %}
                                {#                                    <input type="text"  value="{{ card.card_number }}" disabled >#}
                                {#                                    <div class="input-ico">#}
                                {#                                        <img src="{% static 'img/visa.svg' %}" alt="">#}
                                {#                                    </div>#}
                            {% elif card.yandex_wallet %}
                                <input type="text"  value="{{ card.yandex_wallet }}" disabled >
                                <div class="input-ico">
                                    <img src="{% static 'img/yandex.svg' %}" alt="">
                                </div>
                            {% elif card.qiwi_wallet %}
                                <input type="text"  value="{{ card.qiwi_wallet }}" disabled  >
                                <div class="input-ico">
                                    <img src="{% static 'img/qiwi.svg' %}" alt="">
                                </div>
                            {% elif card.webmoney_wallet %}
                                <input type="text"  value="{{ card.webmoney_wallet }}" disabled >
                                <div class="input-ico">
                                    <img src="{% static 'img/WebMoney.svg' %}" alt="">
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if  card.card_number %}
                        {#                            <button type="submit" onclick="setCID({{card.id}})" class="main-btn withdraw-btn">Пополнить</button>#}

                    {% elif card.yandex_wallet %}
                        <button type="submit" onclick="pay_request(event,'pay_form_1','yandex',{{ card.id }})" class="main-btn withdraw-btn">Пополнить</button>
                        <form action="{% url 'profile_balance' %}" method="post">{% csrf_token %}
                                    <input type="hidden" name="remove_card" value="{{ card.id }}">
                                    <button type="submit"  class="main-btn withdraw-btn">Отвязать</button>
                                </form>

                    {% elif card.qiwi_wallet %}
                        <button type="submit" onclick="pay_request(event,'pay_form_qiwi','qiwi',{{ card.id }})" class="main-btn withdraw-btn">Пополнить</button>
                         <form action="{% url 'profile_balance' %}" method="post">{% csrf_token %}
                                    <input type="hidden" name="remove_card" value="{{ card.id }}">
                                    <button type="submit"  class="main-btn withdraw-btn">Отвязать</button>
                                </form>
                    {% elif card.webmoney_wallet %}
                        <button type="submit" onclick="pay_request(event,'pay_form_webmoney','webmoney',{{ card.id }})" class="main-btn withdraw-btn">Пополнить</button>
                         <form action="{% url 'profile_balance' %}" method="post">{% csrf_token %}
                                    <input type="hidden" name="remove_card" value="{{ card.id }}">
                                    <button type="submit"  class="main-btn withdraw-btn">Отвязать</button>
                                </form>
                    {% endif %}


                </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>

