{% extends 'basic.html' %}
{% load static %}

{% block content %}
<!-- start personalArea -->
	<section class="personalArea">
		<div class="personalArea-bg" style="background-image: url({% static 'img/personalArea-bg.svg' %});"></div>
		<div class="wrapper">
		{% include 'user/sidebar.html' %}
				<div class="personalArea-content">
				<div class="section-top">
					<h2 class="section-title">Архив чеков</h2>
					<span>Архив чеков</span>
				</div>
				<div class="operations operations-second">
					<div class="period">
						<form action="">
							<div class="period-row">
								<div class="period-col">
									<p>Период времени</p>
									<div class="input-block">
										<select name="time">
                                        	<option {% if time_filter == 'all' %}selected{% endif %} value="all">За весь период</option>
											<option {% if time_filter == 'c_m' %}selected{% endif %} value="c_m">Текущий месяц</option>
											<option {% if time_filter == 'l_m' %}selected{% endif %} value="l_m">Прошлый месяц</option>
										</select>
									</div>
								</div>
								<div class="period-col">
									<p>Сумма операции</p>
									<div class="input-block">
										 <select name="summ">
											<option {% if summ_filter == 'all' %}selected{% endif %} value="all">Все операции</option>
											<option {% if summ_filter == 100 %}selected{% endif %} value="100">от 100 руб</option>
											<option {% if summ_filter == 300 %}selected{% endif %} value="300">от 300 руб</option>
											<option {% if summ_filter == 500 %}selected{% endif %} value="500">от 500 руб</option>
											<option {% if summ_filter == 1000 %}selected{% endif %} value="1000">от 1000 руб</option>
											<option {% if summ_filter == 5000 %}selected{% endif %} value="5000">от 5000 руб</option>
											<option {% if summ_filter == 10000 %}selected{% endif %} value="100000">от 100000 руб</option>
										</select>
									</div>
								</div>
								<div class="period-col">
									<p></p>
									<button type="submit" class="main-btn">Применить</button>
								</div>
							</div>
						</form>
					</div>
					<div class="operations-table">
						<div class="operations-row operations-top">
							<div class="operations-col operations-col__1">
								<span>Время</span>
							</div>
							<div class="operations-col operations-col__2">
								<span>Сумма операции</span>
							</div>
							<div class="operations-col operations-col__3">
								<span>КЭШБЭК</span>
							</div>
							<div class="operations-col operations-col__4">
								<span>Валюта</span>
							</div>
							<div class="operations-col operations-col__5">
								<span>Статус</span>
							</div>
						</div>
						   {% for bet in allBets %}
				    		<div class="operations-row">
							<div class="operations-col operations-col__1">
								<span>{{ bet.created_at |date:'d.m.Y'}}</span>
							</div>
							<div class="operations-col operations-col__2">
							    <a href="{{ bet.image.url }}" target="_blank" class="bet-image"><span>₽ {{ bet.amount }}</span></a>
							</div>
							<div class="operations-col operations-col__3">
								<span>{{ bet.cashback }}%</span>
							</div>
							<div class="operations-col operations-col__4">
								<span>₽ {{ bet.bet_result_amount }}</span>
							</div>
							<div class="operations-col operations-col__5">
                                {% if bet.bet_result == True %}
								    <img src="{% static 'img/check.svg' %}" alt="">
                                {% elif bet.bet_result == False %}
                                 	<img src="{% static 'img/close.svg' %}" alt="">
                                {% endif %}
							</div>
						</div>
					    {% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end personalArea -->
{% endblock %}

{% block js %}
{{ block.super }}
{% endblock %}