{% extends 'basic.html' %}
{% load static %}

{% block content %}
    <!-- start personalArea -->
    <section class="personalArea">
        <div class="personalArea-bg" style="background-image: url({% static 'img/personalArea-bg.svg' %});"></div>
        <div class="wrapper">
            {% include 'user/sidebar.html' %}
            <div class="personalArea-content">
                <div class="section-top">
                    <h2 class="section-title">Счет</h2>
                    <span>Счет</span>
                </div>


                <div class="score">
                    <h3 class="personalArea-title">Баланс:<span>{{ request.user.balance }} ₽</span></h3>
                    <p>Вы можете вывести средства с баланса в любое удобное для вас время. Убедитесь, что вы привязали платежное средство к аккаунту.</p>
                   	<a href="#" class="main-btn private-btn">Вывести средства</a>
						<a href="#" class="main-btn card-btn">Пополнить баланс</a>
                  {% include 'user/add_to_balance_form.html' %}
                  {% include 'user/withdraw_form.html' %}

                </div>
                     <div class="score">
                    <div class="score-wrap">
                        <div class="private-block">
                            <p>Привязать карту</p>
                            <form action="" method="post">{% csrf_token %}
                                <div class="private-form">
                                    <div class="input-block">
                                        <div class="input-block__wrap">
                                            <input type="text" id="card_mask" name="card" required placeholder="0000 0000 0000 0000">
                                            <div class="input-ico">
                                                												<img src="img/visa.svg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="score-wrap__all">
                                    <div class="score-wrap__row">
                                        <div class="score-wrap__col score-wrap__col-1">
                                            <div class="input-block">
                                                <div class="input-block__wrap">
                                                    <span class="score-wrap__text">VALID THRU</span>
                                                    <input type="text" id="valid_mask" name="valid" required placeholder="00/00">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="score-wrap__col score-wrap__col-2">
                                            <div class="input-block">
                                                <div class="input-block__wrap">
                                                    <input type="text" id="cvc_mask" name="cvc" required maxlength="3" placeholder="CVC">
                                                </div>
                                            </div>
                                        </div>
                                        <input type="hidden" name="add_card" value="0">
                                        <div class="score-wrap__col score-wrap__col-3">
                                            <button type="submit" class="main-btn">Привязать</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="private-block">
                                    <p>Ваш Яндекс кошелек</p>
                                    <form action="" method="post">{% csrf_token %}
                                        <div class="private-form">
                                            <div class="input-block">
                                                <div class="input-block__wrap">
                                                    <input type="text" id="ya_mask" name="ya" required placeholder="124512487945124">
                                                    <div class="input-ico">
                                                        <img src="{% static 'img/yandex.svg' %}" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="hidden" name="add_card" value="1">
                                            <button type="submit" class="main-btn">Привязать</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="private-block">
                                    <p>Qiwi</p>
                                    <form action="" method="post">{% csrf_token %}
                                        <div class="private-form">
                                            <div class="input-block">
                                                <div class="input-block__wrap">
                                                    <input type="text" id="qw_mask" name="qw" required placeholder="+71112223344">
                                                    <div class="input-ico">
                                                        <img src="{% static 'img/qiwi.svg' %}" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="hidden" name="add_card" value="2">
                                            <button type="submit" class="main-btn">Привязать</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="private-block">
                                    <p>WebMoney</p>
                                    <form action="" method="post">{% csrf_token %}
                                        <div class="private-form">
                                            <div class="input-block">
                                                <div class="input-block__wrap">
                                                    <input type="text" id="wm_mask" name="wm" required placeholder="R112233445566">
                                                    <div class="input-ico">
                                                        <img src="{% static 'img/WebMoney.svg' %}" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="hidden" name="add_card" value="3">
                                            <button type="submit" class="main-btn">Привязать</button>
                                        </div>
                                    </form>
                                </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- end personalArea -->
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>
    <script>
        $.fn.setCursorPosition = function(pos) {
            if ($(this).get(0).setSelectionRange) {
                $(this).get(0).setSelectionRange(pos, pos);
            } else if ($(this).get(0).createTextRange) {
                var range = $(this).get(0).createTextRange();
                range.collapse(true);
                range.moveEnd('character', pos);
                range.moveStart('character', pos);
                range.select();
            }
        };


        $("#card_mask").click(function(){
            console.log('cc')
            $(this).setCursorPosition(0);
        }).mask("9999 9999 9999 9999");

        $("#valid_mask").click(function(){
            $(this).setCursorPosition(0);
        }).mask("99/99");

        $("#cvc_mask").click(function(){
            $(this).setCursorPosition(0);
        }).mask("999");

        $("#ya_mask").click(function(){
            $(this).setCursorPosition(0);
        }).mask("9999999999999999");

        $("#qw_mask").click(function(){
            $(this).setCursorPosition(0);
        }).mask("+79999999999");

        $("#wm_mask").click(function(){
            $(this).setCursorPosition(0);
        }).mask("R999999999999");

        function setCID(el) {
            console.log(el)
            $('#cid').val(el)

        }

        let u_bb = {{ request.user.balance }},
        btns = document.getElementsByClassName('withdraw-btn')

    function checkBalance(el) {
        if (el.value > 0 && u_bb>=el.value){
           for(i of btns){
                i.classList.remove('btn-disabled')
            }
        }else {
            for(i of btns){
                i.classList.add('btn-disabled')
            }
        }

    }
    </script>
{% endblock %}