{% extends 'basic.html' %}
{% load static %}

{% block content %}
<!-- start personalArea -->
	<section class="personalArea">
		<div class="personalArea-bg" style="background-image: url({% static 'img/personalArea-bg.svg' %});"></div>
		<div class="wrapper">
		{% include 'user/sidebar.html' %}
				<div class="personalArea-content">
				<div class="section-top">
					<h2 class="section-title">Финансы</h2>
					<span>Финансы</span>
				</div>
                {% if p_c %}
                    <div class="income">
					    <p style="padding-bottom: 0; color: #f99420;font-weight: 700;letter-spacing: 0.6px;">Ваш платеж будет зачислен в ближайшее время</p>
				    </div>
                {% endif %}
				<div class="income">
					<div class="income-img">
						<div class="income-ico" id="statistics5"></div>
					</div>
					<div class="income-info">
						<p>Тут вы можете пополнить баланс</p>
						<div class="income-btns">

                             <form style="display: flex" id="pay_form_1" action="https://money.yandex.ru/quickpay/confirm.xml" method="post" onsubmit="pay_request(event,this)">
                                    <div class="input-block">
												<div class="input-block__wrap">
													<input style="height: 42px" id="amount_1" name="sum" value="" data-type="number" type="number"  placeholder="Сумма пополнения">
												</div>
											</div>
                                <input type="hidden" name="receiver" value="4100110883820369">
                                <input type="hidden" name="quickpay-form" value="shop">
                                <input type="hidden" name="targets"
                                       value="Пополнение баланса пользователя {{ request.user.first_name }} {{ request.user.last_name }}">
                                <input type="hidden" name="paymentType" value="AC">
                                <input id="label_1" type="hidden" name="label" value="">
                                <input type="hidden" name="successURL" value="https://ugscash.ru/user/profile/finance?pay_complete=!">
                                <button type="submit" class="main-btn">оплатить</button>
                            </form>

						</div>
					</div>
				</div>
				<div class="operations operations-second">
					<div class="period">
						<form action="" >
							<div class="period-row">
								<div class="period-col">
									<p>Период времени</p>
									<div class="input-block">
										<select name="time">
                                        	<option {% if time_filter == 'all' %}selected{% endif %} value="all">За весь период</option>
											<option {% if time_filter == 'c_m' %}selected{% endif %} value="c_m">Текущий месяц</option>
											<option {% if time_filter == 'l_m' %}selected{% endif %} value="l_m">Прошлый месяц</option>
										</select>
									</div>
								</div>
								<div class="period-col">
									<p>Сумма операции</p>
									<div class="input-block">
                                        <select name="summ">
											<option {% if summ_filter == 'all' %}selected{% endif %} value="all">Все операции</option>
											<option {% if summ_filter == 100 %}selected{% endif %} value="100">от 100 руб</option>
											<option {% if summ_filter == 300 %}selected{% endif %} value="300">от 300 руб</option>
											<option {% if summ_filter == 500 %}selected{% endif %} value="500">от 500 руб</option>
											<option {% if summ_filter == 1000 %}selected{% endif %} value="1000">от 1000 руб</option>
											<option {% if summ_filter == 5000 %}selected{% endif %} value="5000">от 5000 руб</option>
											<option {% if summ_filter == 10000 %}selected{% endif %} value="100000">от 100000 руб</option>
										</select>
									</div>
								</div>
								<div class="period-col">
									<p></p>
									<button class="main-btn">Применить</button>
								</div>
							</div>
						</form>
					</div>
					<div class="operations-table">
						<div class="operations-row operations-top">
							<div  class="operations-col operations-col__1">
								<span>Время</span>
							</div>
							<div class="operations-col operations-col__2">
								<span>Сумма пополнения</span>
							</div>
{#							<div class="operations-col operations-col__3">#}
{#								<span>КЭШБЭК</span>#}
{#							</div>#}
{#							<div class="operations-col operations-col__4">#}
{#								<span>Валюта</span>#}
{#							</div>#}
							<div class="operations-col operations-col__5">
								<span>Статус</span>
							</div>
						</div>
                        {% for pay in allPayments %}
					    	<div class="operations-row">
							<div class="operations-col operations-col__1">
								<span>{{ pay.created_at |date:'d.m.Y, H:i'}}</span>
							</div>
							<div class="operations-col operations-col__2">
								<span>₽ {{ pay.amount }}</span>
							</div>
{#							<div class="operations-col operations-col__3">#}
{#								<span>2%</span>#}
{#							</div>#}
{#							<div class="operations-col operations-col__4">#}
{#								<span>₽ 20</span>#}
{#							</div>#}
							<div class="operations-col operations-col__5">
								 {% if pay.status %}
								    <img src="{% static 'img/check.svg' %}" alt="">
                                {% else %}
                                 	<img src="{% static 'img/close.svg' %}" alt="">
                                {% endif %}
							</div>
						</div>
                        {% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end personalArea -->
{% endblock %}

{% block js %}
{{ block.super }}

    <script>
    function pay_request(e,form) {
        e.preventDefault()

        console.log('pay')
        let body = {
                'amount':$('#amount_1').val(),

            }
            fetch('{% url 'new_payment' %}', {
                method: 'post',
                body: JSON.stringify(body),
                headers: { "X-CSRFToken": '{{ csrf_token }}' },
                credentials: 'same-origin'
            }).then(res=>res.json())
                .then(res => {
                    console.log(res)
                    if(res['status']==='ok'){
                       $('#label_1').val(res['p_id'])
                        form.submit()
                    }

                })

    }
    </script>
{% endblock %}