{% load static %}
<div class="private">
    <form id="withdraw_form" action=""  method="post">{% csrf_token %}
        <div class="private-block private-block__small">
            <p>Сумма вывода</p>
            <div class="private-form">
                <div class="input-block">
                    <div class="input-block__wrap">
                        <input id="amount" name="amount" value="" onkeyup="checkBalance(this)" required type="number" step="0.01"  placeholder="Сумма для вывода">
                        <div class="input-ico">
                            <svg width="13" height="18" viewBox="0 0 13 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path opacity="0.8" d="M0 7H1V0H8.5C11 0 13 2 13 4.5C13 7 11 9 8.5 9H3V11H9V13H3V18H1V13H0V11H1V9H0V7ZM8.5 2H3V7H8.5C9.16304 7 9.79893 6.73661 10.2678 6.26777C10.7366 5.79893 11 5.16304 11 4.5C11 3.83696 10.7366 3.20107 10.2678 2.73223C9.79893 2.26339 9.16304 2 8.5 2Z" fill="#6B6B6B"/></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="private-block">
            {% if cards %}
                <p>Ваши карты/кошельки</p>
                {% for card in cards %}

                    <div style="margin-bottom: 15px" class="private-form">
                        <div class="input-block">
                            <div class="input-block__wrap">
                                {% if card.card_number %}
                                    <input type="text"  value="{{ card.card_number }}" disabled >
                                    <div class="input-ico">
                                        <img src="{% static 'img/visa.svg' %}" alt="">
                                    </div>
                                {% elif card.yandex_wallet %}
                                    <input type="text"  value="{{ card.yandex_wallet }}" disabled >
                                    <div class="input-ico">
                                        <img src="{% static 'img/yandex.svg' %}" alt="">
                                    </div>
                                {% elif card.qiwi_wallet %}
                                    <input type="text"  value="{{ card.qiwi_wallet }}" disabled >
                                    <div class="input-ico">
                                        <img src="{% static 'img/qiwi.svg' %}" alt="">
                                    </div>
                                {% elif card.webmoney_wallet %}
                                    <input type="text"  value="{{ card.webmoney_wallet }}" disabled >
                                    <div class="input-ico">
                                        <img src="{% static 'img/WebMoney.svg' %}" alt="">
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <button type="submit" onclick="setCID({{card.id}})" class="main-btn withdraw-btn">Вывести</button>
                    </div>
                {% endfor %}
            {% else %}
                <p>У Вас нет привязанных карт или кошельков</p>
            {% endif %}
        </div>
        <input type="hidden" id="cid" name="cid" value="">
    </form>
</div>